spec/TEI_SSK_ODD.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2018-07-09T07:14:08Z. .
TEI Edition: Version 3.3.0. Last updated on
	31st January 2018, revision f4d8439
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.3.0/
  
--><!---->
   <define name="att.milestoneUnit.attribute.unit">
      <attribute name="unit">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a conventional name for the kind of section changing at this milestone.
Suggested values include: 1] page; 2] column; 3] line; 4] book; 5] poem; 6] canto; 7] speaker; 8] stanza; 9] act; 10] scene; 11] section; 12] absent; 13] unnumbered</a:documentation>
         <choice>
            <value>page</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">physical page breaks (synonymous with the pb element).</a:documentation>
            <value>column</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">column breaks.</a:documentation>
            <value>line</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">line breaks (synonymous with the lb element).</a:documentation>
            <value>book</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">any units termed book, liber, etc.</a:documentation>
            <value>poem</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">individual poems in a collection.</a:documentation>
            <value>canto</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">cantos or other major sections of a poem.</a:documentation>
            <value>speaker</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">changes of speaker or narrator.</a:documentation>
            <value>stanza</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">stanzas within a poem, book, or canto.</a:documentation>
            <value>act</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">acts within a play.</a:documentation>
            <value>scene</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">scenes within a play or act.</a:documentation>
            <value>section</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">sections of any kind.</a:documentation>
            <value>absent</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">passages not present in the reference edition.</a:documentation>
            <value>unnumbered</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">passages present in the text, but not to be included as part of the reference.</a:documentation>
         </choice>
      </attribute>
   </define>
   <define name="desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [22.4.1. Description of Components]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <optional>
                  <ref name="list"/>
               </optional>
               <optional>
                  <ref name="ref"/>
               </optional>
               <optional>
                  <ref name="abbr"/>
               </optional>
               <optional>
                  <ref name="expan"/>
               </optional>
               <optional>
                  <ref name="term"/>
               </optional>
            </choice>
         </zeroOrMore>
         <ref name="att.combinable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="term">
      <element name="term">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. Terms, Glosses, Equivalents, and Descriptions]</a:documentation>
         <ref name="att.combinable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="choice">
      <element name="choice">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups a number of alternative encodings for the same point in a text. [3.4. Simple Editorial Changes]</a:documentation>
         <oneOrMore>
            <choice>
    
               <ref name="choice"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="date">
      <element name="date">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
        
        
        
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="abbr">
      <element name="abbr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(abbreviation) contains an abbreviation of any sort. [3.5.5. Abbreviations and Their Expansions]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="expan">
      <element name="expan">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(expansion) contains the expansion of an abbreviation. [3.5.5. Abbreviations and Their Expansions]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="ref">
      <element name="ref">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6. Simple Links and Cross-References 16.1. Links]</a:documentation>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-ref-refAtts-constraint-report-4">
            <rule context="tei:ref">
               <report xmlns:sch="http://purl.oclc.org/dsdl/schematron" test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
               </report>
            </rule>
         </pattern>
         <ref name="att.combinable.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
Suggested values include: 1] documentation (Documentation) ; 2] software (Software) ; 3] specification (Specification) ; 4] report (Report) ; 5] blog (Blog) ; 6] tutorial (Tutorial) ; 7] code_script (Scripts and code) ; 8] schema (schema) ; 9] paper (Scholarly paper) </a:documentation>
            <choice>
               <value>documentation</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Documentation) </a:documentation>
               <value>software</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Software) </a:documentation>
               <value>specification</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Specification) </a:documentation>
               <value>report</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Report) </a:documentation>
               <value>blog</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Blog) </a:documentation>
               <value>tutorial</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Tutorial) </a:documentation>
               <value>code_script</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Scripts and code) </a:documentation>
               <value>schema</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(schema) </a:documentation>
               <value>paper</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Scholarly paper) </a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="list">
      <element name="list">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any sequence of items organized as a list. [3.7. Lists]</a:documentation>
         <group>
      
            <zeroOrMore>
               <empty/>
            </zeroOrMore>
      
            <choice>
               <oneOrMore>
                  <group>
                     <ref name="item"/>
          
            
          
                  </group>
               </oneOrMore>
               <group>
          
                  <optional>
                     <ref name="headLabel"/>
                  </optional>
          
          
                  <optional>
                     <ref name="headItem"/>
                  </optional>
          
                  <oneOrMore>
                     <group>
                        <ref name="label"/>
            
              
            
                        <ref name="item"/>
            
              
            
                     </group>
                  </oneOrMore>
               </group>
            </choice>
      
        
          
            
          
          
            
          
        
      
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-list-gloss-list-must-have-labels-constraint-rule-1">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:list[@type='gloss']">
	              <sch:assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</sch:assert>
            </sch:rule>
         </pattern>
      </element>
   </define>
   <define name="item">
      <element name="item">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one component of a list. [3.7. Lists 2.6. The Revision Description]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="label">
      <element name="label">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. Lists]</a:documentation>
         <ref name="att.combinable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="headLabel">
      <element name="headLabel">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading for list labels) contains the heading for the label or term column in a glossary list or similar structured list. [3.7. Lists]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="headItem">
      <element name="headItem">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading for list items) contains the heading for the item or gloss column in a glossary list or similar structured list. [3.7. Lists]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="note">
      <element name="note">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries]</a:documentation>
         <optional>
            <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                       name="anchored"
                       a:defaultValue="true">
               <a:documentation>indicates whether the copy text shows the exact place of reference for the note.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="targetEnd">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the end of the span to which the note is attached, if the note is not embedded in the text at that point.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="index">
      <element name="index">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(index entry) marks a location to be indexed for whatever purpose. [3.8.2. Index Entries]</a:documentation>
         <zeroOrMore>
            <group>
               <ref name="term"/>
        
               <optional>
                  <ref name="index"/>
               </optional>
        
            </group>
         </zeroOrMore>
         <optional>
            <attribute name="indexName">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a single word which follows the rules defining a legal XML name (see ), supplying a name to specify which index (of several) the index entry belongs to.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="graphic">
      <element name="graphic">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [3.9. Graphics and Other Non-textual Components 11.1. Digital Facsimiles]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="binaryObject">
      <element name="binaryObject">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides encoded binary data representing an inline graphic, audio, video or other object. [3.9. Graphics and Other Non-textual Components]</a:documentation>
         <text/>
         <optional>
            <attribute name="encoding">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The encoding used to encode the binary data. If not specified, this is assumed to be Base64.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="analytic">
      <element name="analytic">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. [3.11.2.1. Analytic, Monographic, and Series Levels]</a:documentation>
         <zeroOrMore>
            <choice>
               <ref name="author"/>
               <ref name="editor"/>
               <ref name="respStmt"/>
               <ref name="title"/>
        
               <ref name="date"/>
               <ref name="textLang"/>
               <ref name="idno"/>
               <ref name="availability"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="monogr">
      <element name="monogr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). [3.11.2.1. Analytic, Monographic, and Series Levels]</a:documentation>
         <group>
      
            <optional>
               <choice>
                  <group>
                     <choice>
                        <ref name="author"/>
                        <ref name="editor"/>
                        <ref name="meeting"/>
                        <ref name="respStmt"/>
                     </choice>
            
                     <zeroOrMore>
                        <choice>
                           <ref name="author"/>
                           <ref name="editor"/>
                           <ref name="meeting"/>
                           <ref name="respStmt"/>
                        </choice>
                     </zeroOrMore>
            
            
                     <oneOrMore>
                        <ref name="title"/>
                     </oneOrMore>
            
            
                     <zeroOrMore>
                        <choice>
                
                           <ref name="idno"/>
                           <ref name="textLang"/>
                           <ref name="editor"/>
                           <ref name="respStmt"/>
                        </choice>
                     </zeroOrMore>
            
                  </group>
                  <group>
            
                     <oneOrMore>
                        <choice>
                           <ref name="title"/>
                
                           <ref name="idno"/>
                        </choice>
                     </oneOrMore>
            
            
                     <zeroOrMore>
                        <choice>
                           <ref name="textLang"/>
                           <ref name="author"/>
                           <ref name="editor"/>
                           <ref name="meeting"/>
                           <ref name="respStmt"/>
                        </choice>
                     </zeroOrMore>
            
                  </group>
                  <group>
            
                     <ref name="authority"/>
                     <ref name="idno"/>
                  </group>
               </choice>
            </optional>
      
      
            <zeroOrMore>
               <ref name="availability"/>
            </zeroOrMore>
      
      
        
      
            <zeroOrMore>
               <group>
                  <ref name="edition"/>
        
                  <zeroOrMore>
                     <choice>
                        <ref name="idno"/>
            
                        <ref name="editor"/>
                        <ref name="sponsor"/>
                        <ref name="funder"/>
                        <ref name="respStmt"/>
                     </choice>
                  </zeroOrMore>
        
               </group>
            </zeroOrMore>
            <ref name="imprint"/>
      
            <zeroOrMore>
               <choice>
                  <ref name="imprint"/>
                  <ref name="extent"/>
                  <ref name="biblScope"/>
               </choice>
            </zeroOrMore>
      
         </group>
      </element>
   </define>
   <define name="series">
      <element name="series">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.11.2.1. Analytic, Monographic, and Series Levels]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
        
               <ref name="title"/>
        
               <ref name="editor"/>
               <ref name="respStmt"/>
               <ref name="biblScope"/>
               <ref name="idno"/>
               <ref name="textLang"/>
        
               <ref name="availability"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="author">
      <element name="author">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="editor">
      <element name="editor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2. Titles, Authors, and Editors]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="respStmt">
      <element name="respStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <group>
            <choice>
               <group>
          
                  <oneOrMore>
                     <ref name="resp"/>
                  </oneOrMore>
          
          
          
          
               </group>
               <group>
          
          
          
          
                  <oneOrMore>
                     <ref name="resp"/>
                  </oneOrMore>
          
               </group>
            </choice>
            <zeroOrMore>
               <ref name="note"/>
            </zeroOrMore>
         </group>
      </element>
   </define>
   <define name="resp">
      <element name="resp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="meeting">
      <element name="meeting">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. [3.11.2.2. Titles, Authors, and Editors]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="imprint">
      <element name="imprint">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups information relating to the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <group>
      
            <zeroOrMore>
               <empty/>
            </zeroOrMore>
      
            <oneOrMore>
               <group>
                  <empty/>
        
                  <zeroOrMore>
                     <ref name="respStmt"/>
                  </zeroOrMore>
        
        
          
        
               </group>
            </oneOrMore>
         </group>
      </element>
   </define>
   <define name="biblScope">
      <element name="biblScope">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.5. Scopes and Ranges in Bibliographic Citations]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="relatedItem">
      <element name="relatedItem">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [3.11.2.7. Related Items]</a:documentation>
         <optional>
            <empty/>
         </optional>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-relatedItem-targetorcontent1-constraint-report-5">
            <rule context="tei:relatedItem">
               <sch:report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           test="@target and count( child::* ) &gt; 0">
If the @target attribute on <sch:name/> is used, the
relatedItem element must be empty</sch:report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-relatedItem-targetorcontent1-constraint-assert-2">
            <rule context="tei:relatedItem">
               <sch:assert xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</sch:assert>
            </rule>
         </pattern>
         <optional>
            <attribute name="target">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the related bibliographic element by means of an absolute or relative URI reference</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="teiCorpus">
      <element name="teiCorpus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="teiHeader"/>
            <choice>
               <group>
          
            
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="TEI"/>
                        <ref name="teiCorpus"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
        
               <oneOrMore>
                  <choice>
                     <ref name="TEI"/>
                     <ref name="teiCorpus"/>
                  </choice>
               </oneOrMore>
        
            </choice>
         </group>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the version number of the TEI Guidelines against which this document is valid.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="textLang">
      <element name="textLang">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text language) describes the languages and writing systems identified within the bibliographic work being described, rather than its description. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 10.6.6. Languages and Writing Systems]</a:documentation>
         <optional>
            <attribute name="mainLang">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(main language) supplies a code which identifies the chief language used in the bibliographic work.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="otherLangs">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(other languages) one or more codes identifying any other languages used in the bibliographic work.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="att.patternReplacement.attributes">
      <ref name="att.patternReplacement.attribute.matchPattern"/>
      <ref name="att.patternReplacement.attribute.replacementPattern"/>
   </define>
   <define name="att.patternReplacement.attribute.matchPattern">
      <attribute name="matchPattern">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a regular expression against which the values of other attributes can be matched.</a:documentation>
      </attribute>
   </define>
   <define name="att.patternReplacement.attribute.replacementPattern">
      <attribute name="replacementPattern">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a replacement pattern, that is, the skeleton of a relative or absolute URI containing references to groups in the matchPattern which, once subpattern substitution has been performed, complete the URI.</a:documentation>
      </attribute>
   </define>
   <define name="teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="fileDesc"/>
      
        
      
      
            <optional>
               <ref name="revisionDesc"/>
            </optional>
      
         </group>
      </element>
   </define>
   <define name="fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="titleStmt"/>
        
               <optional>
                  <ref name="editionStmt"/>
               </optional>
        
        
               <optional>
                  <ref name="extent"/>
               </optional>
        
               <ref name="publicationStmt"/>
        
               <optional>
                  <ref name="seriesStmt"/>
               </optional>
        
        
               <optional>
                  <ref name="notesStmt"/>
               </optional>
        
            </group>
      
            <oneOrMore>
               <ref name="sourceDesc"/>
            </oneOrMore>
      
         </group>
      </element>
   </define>
   <define name="titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
      
            <oneOrMore>
               <ref name="title"/>
            </oneOrMore>
      
      
        
      
         </group>
      </element>
   </define>
   <define name="sponsor">
      <element name="sponsor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the name of a sponsoring organization or institution. [2.2.1. The Title Statement]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="funder">
      <element name="funder">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. The Title Statement]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="editionStmt">
      <element name="editionStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(edition statement) groups information relating to one edition of a text. [2.2.2. The Edition Statement 2.2. The File Description]</a:documentation>
         <choice>
      
        
      
            <group>
               <ref name="edition"/>
        
          
        
            </group>
         </choice>
      </element>
   </define>
   <define name="edition">
      <element name="edition">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the particularities of one edition of a text. [2.2.2. The Edition Statement]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="extent">
      <element name="extent">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3. Type and Extent of File 2.2. The File Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 10.7.1. Object Description]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="authority">
      <element name="authority">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="idno">
      <element name="idno">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.11.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
        
               <ref name="idno"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="availability">
      <element name="availability">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <oneOrMore>
            <empty/>
         </oneOrMore>
         <optional>
            <attribute name="status">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a code identifying the current availability of the text.</a:documentation>
               <choice>
                  <value>free</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is freely available.</a:documentation>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the status of the text is unknown.</a:documentation>
                  <value>restricted</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is not freely available.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="seriesStmt">
      <element name="seriesStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5. The Series Statement 2.2. The File Description]</a:documentation>
         <choice>
      
        
      
            <group>
        
               <oneOrMore>
                  <ref name="title"/>
               </oneOrMore>
        
        
               <zeroOrMore>
                  <choice>
                     <ref name="editor"/>
                     <ref name="respStmt"/>
                  </choice>
               </zeroOrMore>
        
        
               <zeroOrMore>
                  <choice>
                     <ref name="idno"/>
                     <ref name="biblScope"/>
                  </choice>
               </zeroOrMore>
        
            </group>
         </choice>
      </element>
   </define>
   <define name="notesStmt">
      <element name="notesStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6. The Notes Statement 2.2. The File Description]</a:documentation>
         <oneOrMore>
            <choice>
        
               <ref name="relatedItem"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="prefixDef">
      <element name="prefixDef">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(prefix definition) defines a prefixing scheme used in data.pointer values, showing how abbreviated URIs using the scheme may be expanded into full URIs. [16.2.3. Using Abbreviated Pointers]</a:documentation>
         <ref name="att.patternReplacement.attributes"/>
         <attribute name="ident">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a name which functions as the prefix for an abbreviated pointing scheme such as a private URI scheme. The prefix constitutes the text preceding the first colon.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="listPrefixDef">
      <element name="listPrefixDef">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of prefix definitions) contains a list of definitions of prefixing schemes used in data.pointer values, showing how abbreviated URIs using each scheme may be expanded into full URIs. [16.2.3. Using Abbreviated Pointers]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="prefixDef"/>
               <ref name="listPrefixDef"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="profileDesc">
      <element name="profileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="language">
      <element name="language">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single language or sublanguage used within a text. [2.4.2. Language Usage]</a:documentation>
         <attribute name="ident">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the language documented by this element, and which is referenced by the global xml:lang attribute.</a:documentation>
         </attribute>
         <optional>
            <attribute name="usage">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the approximate percentage (by volume) of the text which uses this language.</a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="keywords">
      <element name="keywords">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification]</a:documentation>
         <choice>
      
            <oneOrMore>
               <ref name="term"/>
            </oneOrMore>
      
            <ref name="list"/>
         </choice>
         <optional>
            <attribute name="scheme">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the controlled vocabulary within which the set of keywords concerned is defined, for example by a taxonomy element, or by some other resource.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="revisionDesc">
      <element name="revisionDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(revision description) summarizes the revision history for a file. [2.6. The Revision Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <choice>
            <ref name="list"/>
            <ref name="listChange"/>
      
            <oneOrMore>
               <ref name="change"/>
            </oneOrMore>
      
         </choice>
      </element>
   </define>
   <define name="change">
      <element name="change">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.6. The Revision Description 2.4.1. Creation 11.7. Identifying Changes and Revisions]</a:documentation>
         <optional>
            <attribute name="target">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to one or more elements that belong to this change.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="listChange">
      <element name="listChange">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups a number of change descriptions associated with either the creation of a source text or the revision of an encoded text. [2.6. The Revision Description 11.7. Identifying Changes and Revisions]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="listChange"/>
               <ref name="change"/>
            </choice>
         </oneOrMore>
         <optional>
            <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                       name="ordered"
                       a:defaultValue="true">
               <a:documentation>indicates whether the ordering of its child change elements is to be considered significant or not</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="teiHeader"/>
         </group>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="tei"
             uri="http://www.tei-c.org/ns/1.0"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="tei"
             uri="http://www.tei-c.org/ns/1.0"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="xs"
             uri="http://www.w3.org/2001/XMLSchema"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="rng"
             uri="http://relaxng.org/ns/structure/1.0"/>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the version number of the TEI Guidelines against which this document is valid.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="front">
      <element name="front">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="back">
      <element name="back">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="event">
      <element name="event">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains data relating to any kind of significant event associated with a person, place, or organization. [13.3.1. Basic Principles]</a:documentation>
         <group>
            <zeroOrMore>
               <empty/>
            </zeroOrMore>
            <zeroOrMore>
               <choice>
                  <ref name="linkGrp"/>
               </choice>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="event"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="param"/>
            </zeroOrMore>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-event-paramInScenarios-constraint-rule-2">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:param">
                                    <sch:assert test="ancestor::tei:TEI[@type ='researchScenario']">Parameters should only be used in scenario
                                        files</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="att.combinable.attributes"/>
         <optional>
            <attribute name="where">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of an event by pointing to a place element</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="listOrg">
      <element name="listOrg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of organizations) contains a list of elements, each of which provides information about an identifiable organization. [13.2.2. Organizational Names]</a:documentation>
         <group>
      
        
      
      
            <oneOrMore>
               <choice>
                  <ref name="org"/>
                  <ref name="listOrg"/>
               </choice>
            </oneOrMore>
      
      
            <zeroOrMore>
               <choice>
                  <ref name="relation"/>
                  <ref name="listRelation"/>
               </choice>
            </zeroOrMore>
      
         </group>
      </element>
   </define>
   <define name="listPerson">
      <element name="listPerson">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [13.3.2. The Person Element 15.2. Contextual Information 2.4. The Profile Description 15.3.2. Declarable Elements]</a:documentation>
         <group>
      
        
      
      
            <oneOrMore>
               <choice>
          
                  <ref name="listPerson"/>
               </choice>
            </oneOrMore>
      
      
            <zeroOrMore>
               <choice>
                  <ref name="relation"/>
                  <ref name="listRelation"/>
               </choice>
            </zeroOrMore>
      
         </group>
      </element>
   </define>
   <define name="listPlace">
      <element name="listPlace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of places) contains a list of places, optionally followed by a list of relationships (other than containment) defined amongst them. [2.2.7. The Source Description 13.3.4. Places]</a:documentation>
         <group>
      
        
      
      
            <oneOrMore>
               <choice>
          
                  <ref name="listPlace"/>
               </choice>
            </oneOrMore>
      
      
            <zeroOrMore>
               <choice>
                  <ref name="relation"/>
                  <ref name="listRelation"/>
               </choice>
            </zeroOrMore>
      
         </group>
      </element>
   </define>
   <define name="org">
      <element name="org">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization) provides information about an identifiable organization such as a business, a tribe, or any other grouping of people. [13.2.2. Organizational Names]</a:documentation>
         <group>
      
        
      
            <empty/>
      
            <zeroOrMore>
               <choice>
          
          
                  <ref name="linkGrp"/>
          
               </choice>
            </zeroOrMore>
      
      
        
      
         </group>
         <optional>
            <attribute name="role">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a primary role or classification for the organization.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="listRelation">
      <element name="listRelation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides information about relationships identified amongst people, places, and organizations, either informally as prose or as formally expressed relation links. [13.3.2.3. Personal Relationships]</a:documentation>
         <group>
      
        
      
            <choice>
        
        
               <oneOrMore>
                  <choice>
                     <ref name="relation"/>
                     <ref name="listRelation"/>
                  </choice>
               </oneOrMore>
        
            </choice>
         </group>
      </element>
   </define>
   <define name="relation">
      <element name="relation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relationship) describes any kind of relationship or linkage amongst a specified group of places, events, persons, objects or other items. [13.3.2.3. Personal Relationships]</a:documentation>
         <optional>
            <ref name="desc"/>
         </optional>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-relation-reforkeyorname-constraint-assert-4">
            <rule context="tei:relation">
               <assert xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@ref or @key or @name">One of the attributes  'name', 'ref' or 'key' must be supplied</assert>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-relation-activemutual-constraint-report-8">
            <rule context="tei:relation">
               <report xmlns:sch="http://purl.oclc.org/dsdl/schematron" test="@active and @mutual">Only one of the attributes
@active and @mutual may be supplied</report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="TEI_SSK-relation-activepassive-constraint-report-9">
            <rule context="tei:relation">
               <report xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@passive and not(@active)">the attribute 'passive'
	may be supplied only if the attribute 'active' is
	supplied</report>
            </rule>
         </pattern>
         <optional>
            <attribute name="name">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a name for the kind of relationship of which this is an instance.</a:documentation>
            </attribute>
         </optional>
         <empty/>
         <optional>
            <attribute name="passive">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the passive participants in a non-mutual relationship.</a:documentation>
               <list>
                  <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="linkGrp">
      <element name="linkGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(link group) defines a collection of associations or hypertextual links. [16.1. Links]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="ref"/>
               <ref name="linkGrp"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="att.combinable.attributes">
      <ref name="att.deprecated.attributes"/>
      <ref name="att.combinable.attribute.mode"/>
   </define>
   <define name="att.combinable.attribute.mode">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="mode"
                    a:defaultValue="add">
            <a:documentation>specifies the effect of this declaration on its parent object.</a:documentation>
            <choice>
               <value>add</value>
               <a:documentation>this declaration is added to the current definitions</a:documentation>
               <value>delete</value>
               <a:documentation>if present already, the whole of the declaration for this object is removed from the current setup</a:documentation>
               <value>change</value>
               <a:documentation>this declaration changes the declaration of the same name in the current definition</a:documentation>
               <value>replace</value>
               <a:documentation>this declaration replaces the declaration of the same name in the current definition</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="att.deprecated.attributes">
      <ref name="att.deprecated.attribute.validUntil"/>
   </define>
   <define name="att.deprecated.attribute.validUntil">
      <optional>
         <attribute name="validUntil">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a date before which the construct being defined will not be removed.</a:documentation>
            <data type="date"/>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="TEI_SSK-att.deprecated-validUntil-deprecated-constraint-rule-3">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@validUntil]">
            <sch:assert test="@validUntil cast as xs:date ge          current-date()">
            <sch:value-of select="if          (@ident) then concat('The ',@ident) else          concat('This ',local-name(.),' of          ',ancestor::tei:*[@ident][1]/@ident)"/>
	    construct is outdated (as of <sch:value-of select="@validUntil"/>); ODD processors may ignore it, and its use is no longer supported</sch:assert>
            <sch:assert role="nonfatal"
                     test="@validUntil cast as xs:date ge          (current-date() + (60*xs:dayTimeDuration('P1D')))">
            <sch:value-of select="if (@ident) then concat('The ',@ident) else concat('This ',local-name(.),' of ',ancestor::tei:*[@ident][1]/@ident)"/>  construct becomes outdated on <sch:value-of select="@validUntil"/>
         </sch:assert>
          </sch:rule>
   </pattern>
   <define name="param">
      <element name="param">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a parameter for a model behaviour by supplying its name and an XPath expression identifying the location of its content. [22.5.4.5. Behaviours and their parameters]</a:documentation>
         <empty/>
         <attribute name="name">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a name for the parameter being supplied
Suggested values include: 1] alternate; 2] default; 3] height; 4] id; 5] label; 6] level; 7] link; 8] place; 9] type; 10] url; 11] width</a:documentation>
            <choice>
               <value>alternate</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with behaviour alternate, a parameter of this name supplies one of the pair of possible values; for example the regularized form rather than the original form within a choice element.</a:documentation>
               <value>default</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with behaviour alternate, a parameter of this name supplies one of the pair of possible values; for example the original form rather than the regularized form within a choice element.</a:documentation>
               <value>height</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with behaviour graphic, a parameter of this name supplies a value for the height of the graphic e.g. "300px", "50%".</a:documentation>
               <value>id</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a parameter of this name should supply a unique identifier for the element being processed; as for example with the anchor behaviour</a:documentation>
               <value>label</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a parameter of this name should supply an expression to be used to label something, for example  for a page break or  for a footnote reference; typically used with the note or break behaviours</a:documentation>
               <value>level</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with the heading behaviour, a parameter of this name supplies a positive integer indicating the hierarchic level of a heading.</a:documentation>
               <value>link</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with the link behaviour, a parameter of this name should supply a URL to be used as the target of a link.</a:documentation>
               <value>place</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with the note behaviour, a parameter of this name should provide a string which describes the intended placement of some text; typical values include "margin", "footnote", "endnote", "inline", "bottom"</a:documentation>
               <value>type</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a parameter of this name can be used to categorize the specified behaviour in any way; for example the kind of break (when used with the break behaviour) or the kind of index to be generated (if used with the index behaviour) etc.</a:documentation>
               <value>url</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with behaviour graphic, a parameter of this name supplies a a URL indicating the graphic intended.</a:documentation>
               <value>width</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">when used with behaviour graphic, a parameter of this name supplies a value for the width of the graphic e.g. "400px", "70%".</a:documentation>
            </choice>
         </attribute>
         <attribute name="value">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies an XPath expression which when evaluated provides the value for the parameter</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="row">
      <element name="row">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one row of a table. [14.1.1. TEI Tables]</a:documentation>
         <oneOrMore>
            <ref name="cell"/>
         </oneOrMore>
      </element>
   </define>
   <define name="cell">
      <element name="cell">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one cell of a table. [14.1.1. TEI Tables]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="figDesc">
      <element name="figDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [14.4. Specific Elements for Graphic Images]</a:documentation>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="TEI"/>
      </choice>
   </start>
</grammar>
